<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>frailejon</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous">
      <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    
  </head>
  <body>
    
    
  </body>

  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"

            >
            <button class="btn btn-outline-success" type="submit">
            </button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section class="container">
        <div class="row row-cols-1 row-cols-md-5">
        <h4>CONOCENOS</h4>
        </div>
        <div class="row row-cols-1 row-cols-md-5">

            <div class="col">
                <div class="card p-3 shadow">
                    <img src="../../assets/img/bolso.webp" alt="p1" class="img-fluid w-100">
                    <h4>BOLSO TEJIDO A MANO</h4>
                    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, at itaque exercitationem deleniti molestias minus vel quia officia dolores veniam! Rerum debitis blanditiis cum esse cumque veniam soluta eos officia.</P>
                    <hr>
                    <h5 class="fw-bold">$250USD</h5>
                    <button type="button" class="btn btn-primary">Agregar al carrito <i class="bi bi-cart4"></i></button>
                </div>
            </div>
            <div class="col">
                <div class="card p-3 shadow h-100">
                    <img src="../../assets/img/llama.webp" alt="p1" class="img-fluid w-100">
                    <h4>OSO ARTESANAL PARANIÑOS</h4>
                    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, at itaque exercitationem deleniti molestias minus vel quia officia dolores veniam! Rerum debitis blanditiis cum esse cumque veniam soluta eos officia.</P>
                    <hr>
                    <h5 class="fw-bold">$50USD</h5>
                    <button type="button" class="btn btn-primary">Agregar al carrito <i class="bi bi-cart4"></i></button>
                </div>
            </div>
            <div class="col">
                <div class="card p-3 shadow h-100">
                    <img src="../../assets/img/tasas.webp" alt="p1" class="img-fluid w-100">
                    <h4>TASAS ARTESANALES</h4>
                    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, at itaque exercitationem deleniti molestias minus vel quia officia dolores veniam! Rerum debitis blanditiis cum esse cumque veniam soluta eos officia.</P>
                    <hr>
                    <h5 class="fw-bold">$200USD</h5>
                    <button type="button" class="btn btn-primary">Agregar al carrito <i class="bi bi-cart4"></i></button>
                </div>
            </div>
            <div class="col">
                <div class="card p-3 shadow">
                    <img src="../../assets/img/arete.webp" alt="p1" class="img-fluid w-100">
                    <h4>ARETES DE ORO 100% HECHOS A MANOS</h4>
                    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, at itaque exercitationem deleniti molestias minus vel quia officia dolores veniam! Rerum debitis blanditiis cum esse cumque veniam soluta eos officia.</P>
                    <hr>
                    <h5 class="fw-bold">$450USD</h5>
                    <button type="button" class="btn btn-primary">Agregar al carrito <i class="bi bi-cart4"></i></button>
                </div>
            </div>
            <div class="col">
                <div class="card p-3 shadow h-100">
                    <img src="../../assets/img/muñeco.webp" alt="p1" class="img-fluid w-100">
                    <h4>MUÑECAS INCAS</h4>
                    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, at itaque exercitationem deleniti molestias minus vel quia officia dolores veniam! Rerum debitis blanditiis cum esse cumque veniam soluta eos officia.</P>
                    <hr>
                    <h5 class="fw-bold">$100USD</h5>
                    <button type="button" class="btn btn-primary">Agregar al carrito <i class="bi bi-cart4"></i></button>
                </div>
            </div> 
            
            
        </div>

    </section>
  </main>
</html>
